*{
	margin: 0;
	padding: 0;
	font-family: 微軟正黑體;
	 -webkit-box-sizing: border-box; 
	 -moz-box-sizing: border-box;    
	 box-sizing: border-box;  
}

body{
	background-color: #E8E9E4;
}

.header{
	background-color: #272822;
	padding-top: 10px;
	padding-bottom: 10px;
}
.title{
	font-size: 30px;
	color: #FFF;
}
.list-icon{
	color: #ACAEA2;
	font-size: 30px;
	display: none;
	padding-left: 5px;
}
.list-icon:hover{
	color: #FFF;
}

.content{
	overflow: auto;
}

.block-center{
	margin: auto;
}

.grid-51{
	width: 20%;
	float: left;
	min-height: 700px;
}
.grid-52{
	width: 40%;
	float: left;
	min-height: 700px;
}
.grid-53{
	width: 60%;
	float: left;
	min-height: 700px;
}
.grid-54{
	width: 80%;
	float: left;
	min-height: 700px;
}
.grid-55{
	width: 100%;
}	


.footer{
	background-color: #30312B;
	color: #DEDFD9;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: right;
	font-size: 14px;
}

/* 側邊選單欄位 */
.list-box{
	display: block;
	font-size: 16px;
	background-color: #FFD2D9;
}
.list-item{
	list-style-type: none;
	padding: 15px;
}
.list-item:hover{
	list-style-type: none;
	background-color: #FF8698;
}
.list-item-icon{
	padding-right: 10px;
}

#top-list-box{
	margin-top: 10px;
	display: none;
}




/* for developer */
.blue{
	background-color: #A2A2FF;
}
.red{
	background-color: #FFD2D9;
}
.green{
	background-color: #8CC6C6;
}
.yellow{
	background-color: #FCCF8B;
}



/* media query 1199~980 */

/* >= 1200px */
@media screen and (min-width: 1250px) {

	
	.grid-55{
	width: 1200px;
	}



}


/* 768px ~ 979px */
@media screen and (min-width: 768px) and (max-width: 979px) {
	
	#grid-ad{
	display: none;
	}
	#grid-content{
	width: 60%;
	}
	.list-box{
	font-size: 15px;
	}

}


/* <= 768px */
@media screen and (max-width: 767px) {
	

	#grid-ad{
	display: none;
	}
	#grid-clu{
	display: none;
	}
	#grid-content{
	width: 80%;
	}
	.list-box{
	font-size: 14px;
	}
	.list-item-icon{
	display: none;
	}

}


/* <= 480px */
@media screen and (max-width: 480px) {


	
	#grid-ad{
	display: none;
	}
	#grid-clu{
	display: none;
	}
	#grid-nav{
	display: none;
	}

	#grid-content{
	width: 100%;
	}

	.title{
		display: none;
	}
	.list-icon{
		display: inline-block;
	}

	.list-item-icon{
		display: inline-block;
	}

	

}


